.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 0 20px;

  background: linear-gradient(135deg, #f1f1f6 0%, #d0d1d9 100%);

  border: 3px solid transparent;
  border-image-source: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(200, 202, 213, 0.8) 100%);
  border-image-slice: 1;

  box-shadow:
    -1px -1px 31px 0px #ffffff,
    1px 1px 21px 0px #d4d7e6,
    10px 10px 30px 0px #d0d3e2,
    -5px -4px 15px 0px #ffffffd9,
    1px 5px 14px 0px #0000005e,
    1px 2px 8px 0px #0000005c;
}

.app-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
  padding: 20px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: #E9EAEF;
}

.grid-item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border: 1px;
  background-image: linear-gradient(#f0f1f4, #dfe0e7), linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(200, 202, 213, 0.8));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: -1px -1px 31px 0px #ffffff, 1px 1px 21px 0px #d4d7e6, 10px 10px 30px 0px #d0d3e2, -5px -4px 15px 0px #ffffffd9, 1px 5px 14px 0px #0000005e, 1px 2px 8px 0px #0000005c;
  padding: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.grid-item.selected {
  background: linear-gradient(123.63deg, #59a9aa -29.56%, #006f80 99.83%);
  color: #ffffff;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
}

.plane-icon {
  font-size: 24px;
  color: #4f5d73;
}

.plane-icon.active {
  background: linear-gradient(135deg, #59a9aa, #006f80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plane-icon.icon-selected {
  color: #ffffff !important;
  background: none !important;
  -webkit-text-fill-color: white;
}

.custom-icon path {
  fill: #4f5d73;
}

.custom-icon.icon-active path {
  fill: #006f80;
}

.custom-icon.icon-selected path {
  fill: #ffffff;
}

::ng-deep .custom-icon:not(.icon-selected) path {
  fill: #4f5d73;
}

.item-icon {
  width: 100%;
  max-width: 100px;
}

.grid-item.selected .item-icon path {
  fill: #ffffff;
}

.icon-wrapper {
  margin-top: 45px;
}

.label {
  font-family: 'Ploni DL 1.1 AAA';
  font-size: 20px;
  font-weight: 500;
  line-height: 29.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #4f5d73;
}

.grid-item.selected .label {
  color: #ffffff;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .grid-item {
    width: 160px;
    height: 160px;
  }

  .icon-wrapper {
    width: 50px;
    height: 50px;
  }

  .icon {
    font-size: 28px;
  }

  .label {
    font-size: 16px;
  }
}
